<h3>Contact</h3>
<li class="email"><i class="fa fa-envelope"></i>
    <a href="{{ site.data.navigation.links.email }}" target="_blank">{{ site.data.navigation.links.email }}</a>
<li class="email"><i class="fa fa-envelope"></i>
    <a href="{{ site.data.navigation.links.work-email }}" target="_blank">{{ site.data.navigation.links.work-email }}</a>
<li class="github"><i class="fa fa-github"></i>
    <a href="https://www.github.com/{{ site.data.navigation.links.github }}" target="_blank">{{ site.data.navigation.links.github }}</a>
<li class="linkedin"><i class="fa fa-linkedin"></i>
    <a href="https://www.linkedin.com/in/{{ site.data.navigation.links.linkedin }}" target="_blank">{{ site.data.navigation.links.linkedin }}</a>
<li class="twitter"><i class="fa fa-twitter"></i>
    <a href="{{ site.data.navigation.links.twitter_link }}" target="_blank">{{ site.data.navigation.links.twitter }}</a>
