<h3>Contact</h3>
<li class="email"><i class="fa fa-envelope"></i>
    <a href="{{ site.data.navigation.email }}" target="_blank">{{ site.data.navigation.email }}</a>
<li class="email"><i class="fa fa-envelope"></i>
    <a href="{{ site.data.navigation.work-email }}" target="_blank">{{ site.data.navigation.work-email }}</a>
<li class="github"><i class="fa fa-github"></i>
    <a href="https://www.github.com/{{ site.data.navigation.github }}" target="_blank">{{ site.data.navigation.github }}</a>
<li class="linkedin"><i class="fa fa-linkedin"></i>
    <a href="https://www.linkedin.com/in/{{ site.data.navigation.linkedin }}" target="_blank">{{ site.data.navigation.linkedin }}</a>
<li class="twitter"><i class="fa fa-twitter"></i>
    <a href="{{ site.data.navigation.twitter_link }}" target="_blank">{{ site.data.navigation.twitter }}</a>
